<!-- <!-- Toggle Side Content -->
<!-- <div class="w-full bg-gray-50 p-4 dark:bg-gray-800/25 lg:hidden lg:p-8"> -->
<!--   <button -->
<!--     type="button" -->
<!--     class="inline-flex w-full items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700" -->
<!--     > -->
<!--     Toggle Side Content -->
<!--   </button> -->
<!-- </div> -->
<!--
    <!-- END Toggle Side Content --> 

<!-- Side Content -->
<!--
  Side Content on Mobile
  Closed 'hidden'
  Opened '' (no class)
-->

<% if content_for?(:right_sidecontent) %>
  <div class="w-full flex-none flex-col bg-gray-50 p-4 dark:bg-gray-800/25 lg:flex lg:w-80 lg:p-8 xl:w-96">
<% else %>
  <div class="w-full flex-none flex-col bg-gray-50 p-4 dark:bg-gray-800/25 hidden">
<% end %>
  <!-- Placeholder -->
  <div
    class="flex flex-auto items-center justify-center rounded-xl  bg-gray-50 py-64 text-gray-400 dark:border-gray-700 dark:bg-gray-800"
    >
    <!-- Side Content -->
  </div>
</div>
<!-- END Side Content -->


